{% extends "references/refBase.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'refs/css/refs.css' %}" />
{% endblock %}

{% block content %}

<h1>{{title}} reference</h1>

{% if form.errors or messages %}
<p class="errorlist">Please correct the errors below.</p>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endif %}


<br>
<p><i>Fill the fields by inserting reference's DOI or BibTex</i></p>
<form action="/doi-autofill/" method="POST">
    {% csrf_token %}
    {{doiform.as_table}}
    <button id='id_doisubmit' type="submit">Autofill</button>
</form>
<br><br>
<form action="/bibtex-autofill/" method="POST">
    {% csrf_token %}
    {{bibtexform.as_table}}
    <button id='id_bibsubmit' type="submit">Autofill</button>
</form>


<hr>
<p><i>Or fill in/edit the fields manually</i></p>
<br>


<form action="{% url 'front:add-references' pk %}" method="post" id="reference-form" class="add-ref-form">
{% csrf_token %}

{{ form.non_field_errors }}

{% for field in form %}

<div class="fieldWrapper">
    {{ field.errors }}
    <p class="label"><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
    {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
</div>

{% endfor %}

</form>

<script>
    var form = document.getElementById("reference-form");

    form.addEventListener("submit", (e) => {
        if (confirm("Submit the data?")) {
            form.submit()
        } else {
          e.preventDefault()
        }
      })
</script>


{% endblock %}
