{% extends "references/refBase.html" %}

{% block content %}

<h1>References</h1>

{% if page_obj %}
  <h2 class="text-center" style="font-size:x-large"><i>{{ nresults }} results</i></h2>
  <table class=listTable>
        {% for reference in page_obj %}
        <tr class="lists">
          <td><a title = "Go to detail view" class="w3-bar-item w3-button" id="detailButton" href="{% url 'front:ref-details' reference.id %}"> > </a></td>
          <td>{{ reference }}</td>
        </tr>
        {% endfor %}
  </table>
{% else %}
  <h2 class="text-center">No results.</h2>
{% endif %}

<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="page-first" href="?page=1">&laquo First</a>
    <a class="page-prev" href="?page={{ page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    <span class="pagination-text">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a class="page-next" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="page-last" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
    {% endif %}    
</div>

{% endblock %} 
