{% extends "references/refBase.html" %}
{% load static pyref_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'refs/css/refs.css' %}" />
{% endblock %}

{% block content %}

<h1>Reference Search</h1>

<div class="container">

    <form method="get">
        <div class="card card-body search-card">
            <div class="container-fluid">

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_doi">{{ filter.form.doi.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.doi }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_title">{{ filter.form.title.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.title }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_author">{{ filter.form.author.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.author }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_journal">{{ filter.form.journal.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.journal }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_year">{{ filter.form.year.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.year }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_bibcode">{{ filter.form.bibcode.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.bibcode }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    {% if page_obj %}
    <h2 class="text-center" style="font-size:x-large"><i>{{ nresults }} results</i></h2>
    <table class=listTable>
          {% for reference in page_obj %}
          <tr class="lists">
            <td><a title = "Go to detail view" class="w3-bar-item w3-button" id="detailButton" href="{% url 'front:ref-details' reference.id %}"> > </a></td>
            <td>{{ reference }}</td>
          </tr>
          {% endfor %}
    </table>
  
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a class="page-first" href="?page=1{{ querystring }}">&laquo First</a>
        <a class="page-prev" href="?page={{ page_obj.previous_page_number}}{{ querystring }}">Previous</a>
        {% endif %}
  
        <span class="pagination-text">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  
        {% if page_obj.has_next %}
        <a class="page-next" href="?page={{ page_obj.next_page_number }}{{ querystring }}">Next</a>
        <a class="page-last" href="?page={{ page_obj.paginator.num_pages }}{{ querystring }}">Last &raquo</a>
        {% endif %}    
    </div>
  
    {% else %}
        <h2 class="text-center">No results.</h2>
    {% endif %}

    {% endblock %}