{% extends "admin/base_site.html" %}
{% block extrahead %}
    <style>
        .popup .main {
          color: black;
          font-family: Consolas, monospace;
          background-color: #8ba064 !important;
        }
        .popup .module {
          font-family: Consolas, monospace;
          color: black;
          background-color: #8ba064 !important;
        }
        .popup .submit-row {
          background-color: #8ba064 !important;
        }

        .popup textarea {
          color: black;
          background-color:whitesmoke;
        }
        .popup input {
          color: black;
          background-color:whitesmoke;
        }


        .popup h1 {
          color:black;
        }
        .popup label  {
          color:black;
        }
        .popup help {
          color:black;
        }


        
    </style>
{% endblock %}