{% extends "admin/base_site.html" %}
{% block extrahead %}
<style>

  .popup {
    color: black;
    font-family: Consolas, monospace;
    background-color: #8ba064 !important;
  }

  .popup .module {
    font-family: Consolas, monospace;
    color: black;
    background-color: #8ba064 !important;
    
  }

  .popup .submit-row {
    background-color: #8ba064 !important;
  }

  .popup textarea {
    color: black;
    background-color: whitesmoke;
  }

  .popup input {
    color: black;
    background-color: whitesmoke;
  }

  .popup select {
    color: black;
    background-color: whitesmoke;
  }


  .popup h1 {
    color: black;
  }

  .popup label {
    color: black;
  }

  .popup help {
    color: black;
  }

  .popup .field-exp_comment {
    display: none;
  }

  .popup .field-update_date {
    display: none;
  }

  .field-title_html {
    display: none;
  }
  
  .field-title_latex {
    display: none;
  }
  
  .field-note_html {
    display: none;
  }
  
  .field-note_latex {
    display: none;
  }
  
  .field-ris {
    display: none;
  }
  
  .field-citeproc_json {
    display: none;
  }

  .popup .field-visible {
    display: none;
  }

  .popup .field-created_by {
    display: none;
  }

  .popup .field-modified_by {
    display: none;
  }

  .popup .field-created_at {
    display: none;
  }

  .popup .field-updated_at {
    display: none;
  }

  .popup .field-short_author {
    display: none;
  }
</style>
{% endblock %}