{% extends "front/base.html" %}

{% block content %}
<body>

{% with test=user.groups.all|length %}
{% if test > 0 %}

<h1>Add Expert</h1>
  <form action="" method="post" id="parent-form" novalidate>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

<script>
  $(document).ready(function(){
    $("#id_geographic_div").select2({
      width: '200px'
    });
  });
</script>

  {% else %}

<head>
  <meta http-equiv="Refresh" content="0;url=/">
</head>

{% endif %}
{% endwith %}

</body>
{% endblock %}