{% extends "front/base.html" %}

{% block content %}

<body>

  {% with test=user.groups.all|length %}
  {% if test > 0 %}

  <h1>{{title|default:"Add or edit"}} taxon</h1>
  <form action="{% url 'front:add-taxon' pk %}" method="post" id="parent-form" ,
    data-rankOfTaxonToBeAdded-url="/load_rankOfTaxonToBeAdded" data_parentTaxon-url="/load_parentTaxon" data-seniorSynonym-url="/load_seniorSynonym" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
  </form>


  <script>
    // check form before submitting
    var form = document.getElementById("parent-form");

    form.addEventListener("submit", (e) => {
      var kingdom_name = document.getElementById("id_kingdom_name");
      var taxonnomic_types = document.getElementById("id_taxonnomic_types");
      var rank_name = document.getElementById("id_rank_name");
      var unit_name1 = document.getElementById("id_unit_name1");
      let error = [];

      if (kingdom_name.value.length === 0) {
        error.push("Kingdom cannot be empty")
      }
      if (taxonnomic_types.value.length === 0) {
        error.push("Rank of new taxon cannot be empty")
      }
      if (rank_name.value.length === 0) {
        error.push("Parent cannot be empty")
      }
      if (unit_name1.value.length === 0) {
        error.push("Unit name1 cannot be empty")
      }
      if (id_references.value.length === 0) {
        error.push("References cannot be empty")
      }
      if (error.length > 0) {
        e.preventDefault()
        window.alert(error.join(", "));
      } else {
        if (confirm("Submit the data?")) {
            form.submit()
        } else {
          e.preventDefault()
        }
      }
    })

    // fetch possible ranks based on kingdom
    $("#id_kingdom_name").change(function (e) {
      e.preventDefault();
      var url = $('#parent-form').attr('data-rankOfTaxonToBeAdded-url');
      var parentId = $(this).val();

      // check if taxon is being edited and kingdom is changed
      var taxonKingdom = '{{ taxon.kingdom.pk }}';
      if (taxonKingdom != parentId && taxonKingdom) {
        alert('Taxon cannot be moved to another kingdom')
        // keep the old kingdom value
        $("#id_kingdom_name").val(taxonKingdom);
        return;
      }

      if (parentId) {
        console.log("parentId:", parentId)
        $.ajax({
          url: url,
          data: {
            'id': parentId
          },
          success: function (data) {
            $('#id_taxonnomic_types').html(data);
          },
          error: function (data) {
            alert('errors');
          }
        });
      } else {
        $('#id_taxonnomic_types').empty();
        $('#id_rank_name').empty();
      }
    });

    // fetch parents based on kingdom and taxon's rank
    $("#id_taxonnomic_types").change(function (e) {
      console.log("fetch parents based on kingdom and taxon's rank")
      e.preventDefault();
      var url = $('#parent-form').attr('data_parentTaxon-url');
      var rankId = $(this).val();
      var kingdomId = $('#id_kingdom_name').val();
      if (rankId && kingdomId) {

        $.ajax({
          url: url,
          data: {
            'id': rankId,
            'kingdomId': kingdomId
          },
          success: function (data) {
            // alert(data);
            $('#id_rank_name').html(data);
          },
          error: function (data) {
            alert('errors');
          }
        });
      } else {
        $('#id_rank_name').empty();
      }
    });

    $("#id_is_junior_synonym").change(function (e) {
      e.preventDefault();

      if ($("#id_is_junior_synonym").is(':checked')) {
        $("#id_senior_synonym").prop("disabled", false);
        
      } else {
        $("#id_senior_synonym").prop("disabled", true);
        $("#id_senior_synonym").empty();
      }

      var url = $('#parent-form').attr('data-seniorSynonym-url');
      $.ajax({
        url: url,
        success: function (data) {
          // alert(data);
          $('#id_senior_synonym').html(data);
        },
        error: function (data) {
          alert('errors');
        }
      });
    });

    // when taxon is edited, retain old info
    $("#id_kingdom_name").ready(function () {
      console.log("when taxon is edited, retain old info")
      var url = $('#parent-form').attr('data-rankOfTaxonToBeAdded-url');

      var rankName = '{{ taxon.rank.rank_name }}';
      var parent = '{{ parent.unit_name1 }}';
      var kingdomId = '{{ taxon.kingdom.pk }}'

      if (kingdomId) {
        $.ajax({
          url: url,
          data: {
            'id': kingdomId
          },
          success: function (data) {
            $('#id_taxonnomic_types').html(data);
            $('#id_taxonnomic_types').val(rankName);//set initial value for rank

            $("#id_taxonnomic_types").ready(function () {
              var url = $('#parent-form').attr('data_parentTaxon-url');
              var rankId = document.getElementById("id_taxonnomic_types").value;
              kingdomId = $('#id_kingdom_name').val();

              if (rankId && kingdomId) {
                $.ajax({
                  url: url,
                  data: {
                    'id': rankId,
                    'kingdomId': kingdomId
                  },
                  success: function (data) {
                    $('#id_rank_name').html(data);
                    $('#id_rank_name').val(parent); //set inital value for parent
                  },
                  error: function (data) {
                    alert('errors');
                  }
                });
              } else {
                $('#id_rank_name').empty();
              }
            })
          },
          error: function (data) {
            alert('errors');
          }
        });
      }
      else {
        $('#id_taxonnomic_types').empty();
        $('#id_rank_name').empty();
      }
    });

    $(document).ready(function () {
      $("#id_taxonnomic_types").select2({
        width: '200px'
      });
      $("#id_rank_name").select2({
        width: '200px'
      });
      $("#id_kingdom_name").select2({
        width: '200px'
      });
      $('#id_references').select2({
        width: '400px'
      });
      $('#id_geographic_div').select2({
        width: '400px'
      });
      $('#id_expert').select2({
        width: '400px'
      });
      $('#id_author').select2({
        width: '400px'
      });
      $("#id_senior_synonym").select2({
        width: '200px',
        disabled: true
      });
    });


  </script>

  {% else %}

  <head>
    <meta http-equiv="Refresh" content="0;url=/">
  </head>

  {% endif %}
  {% endwith %}

</body>
{% endblock %}
