{% extends "front/base.html" %}

{% block content %}
<body>
<p><a href="/taxons">Taxa list</a> | <a href=" ">Add taxon</a> </p>

<h1>Add taxon</h1>
  <form action="" method="post" id="parent-form", data-taxonomic-url="/load_taxonomicUnitTypes" data_chosenTaxonLevel-url="/load_chosenTaxonLevel" novalidate>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

<script>
  $(document).ready(function() {
    
    $('#id_kingdom_name').select2({
      minimumResultsForSearch: -1
    });
    $('#id_rank_name').select2();
});
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_kingdom_name").change(function (e) {
    e.preventDefault();
    // alert('hepp')
    // var parent_name="#data-select2-id";
    // const parent = document.querySelector('#data-select2-id');
    var url = $( '#parent-form' ).attr( 'data-taxonomic-url' );
    var parentId = $(this).val();
    // alert(url);
    // alert(parentId);

    $.ajax({
      url: url,
      data: {
        'id': parentId
      },
      success: function(data) {
          // alert(data);
          $('#id_taxonnomic_types').html(data);
      },
      error: function(data) {
          alert('errors');
      }
    });


  });
</script>

<script>
  $("#id_taxonnomic_types").change(function (e) {
    e.preventDefault();
    // alert('hepp')
    
    var url = $( '#parent-form' ).attr( 'data_chosenTaxonLevel-url' );
    var rankId = $(this).val();
    var kingdomId = $('#id_kingdom_name').val();

    $.ajax({
      url: url,
      data: {
        'id': rankId,
        'kingdomId': kingdomId
      },
      success: function(data) {
          alert(data);
          $('#id_rank_name').html(data);
      },
      error: function(data) {
          alert('errors');
      }
    });


  });
</script>

</body>
{% endblock %}