{% extends "front/base.html" %}
<body>
{% load crispy_forms_tags %}

{% block content %}
{% for x in user.groups.all %}  
{% if x.name == 'contributors' %} 
{% include 'references/edit.html' %}

<!-- <form method="post">
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <button type="submit">Add Reference</button>
</form> -->

{% else %}

<head>
  <meta http-equiv="Refresh" content="0;url=/">
</head>

{% endif %}
{% endfor %}
<p>Login inorder to add a reference.</p>
</body>
{% endblock %}

