{% extends "front/base.html" %}

{% block content %}
<body>
<p><a href=" ">Author list</a> | <a href="/add-author">Add author</a> </p>


<h1>Authors</h1>
<p>
    {% for author in page_obj %}

    <li>{{ author.taxon_author }}</li>

    {% endfor %}
</p>


<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="page-first" href="?page=1">&laquo First</a>
    <a class="page-prev" href="?page={{ page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    <span class="pagination-text">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a class="page-next" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="page-last" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
    {% endif %}    
</div>



</body>
{% endblock %}
