<!DOCTYPE html>
<html lang='en'>
{% load socialaccount %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>TaxonManager</title>
    <script src="https://use.fontawesome.com/baa70f3cd3.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <script src="https://kit.fontawesome.com/5768ea2a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'front/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

    {{ form.media.css }}
</head>

</head>

<body>
    <div class="main-container">
        <div class="header-container w3-container w3-theme">
            <div class="header w3-display-container">
                <div class="header-left w3-display-left">
                    <div class="w3-container">
                        <div class="header-button w3-left">
                            <i class="fa fa-bars w3-button w3-theme-b1 w3-hide-large w3-xlarge w3-bar-item"
                                onclick="w3_open()"></i>
                        </div>
                        <div class="w3-left">
                            <div class="w3-hide-medium w3-hide-small">
                                <img src="{% static "images/nowdatabase.jpg" %}" alt="now database" height="115" width="150" class="responsive" id="header_image">
                                <div id="image_credit_header">Picture_©_Noira_Martiskainen</div>
                                <h2 class="title-logo"><a href="/" id="welcome_header">TaxonManager</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-right w3-display-right">
                    <div class="menu-item w3-display-container w3-hide-medium w3-hide-small">
                        <div class="menu-item-right w3-display-right">
                            <div class="header-button header-text-button">
                                {% if user.is_authenticated %}
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    {% if redirect_field_value %}
                                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                    {% endif %}
                                    <button class="w3-button w3-theme-b1" type="submit"><h4 class="logout-button" id="logoutButton">Logout</h4></button>
                                </form>
                                {% else %}
                                <a href="{% provider_login_url 'orcid' %}" class="w3-button w3-theme-b1">
                                    <h4 class="login-button" id="loginButton">Login</h4>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container w3-container">
            <div class="navigation list-item w3-theme-beige w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card"
                id="mySidebar">
                <div class="showMenu" id ="menuForSmallScreen">
                    <div class="w3-dropdown-hover w3-left">
                        <button class="w3-button w3-theme-b1">Menu</button>
                        <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                            {% if user.is_authenticated %}
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <button class="w3-bar-item w3-button" type="submit" id="logoutButton">Logout</button>
                            </form>
                            {% else %}
                            <a href="{% provider_login_url 'orcid' %}" class="w3-bar-item w3-button" id="loginButton">Login</a>
                            {% endif %}
                        </div>
                    </div>
                    <br><br>
                    <br><br>
                </div>
                <h4 class="w3-bar-item" id="sideHeader">Features</h4>
                <table>
                    <tr><th>
                        <div class="div-line"><hr></div>
                    </th></tr>

                    <!-- Navigation buttons -->
                    {% if '/taxa/' in request.path or '/hierarchy' in request.path or '/add-taxon/' in request.path or '/add_junior_synonym/' in request.path %}
                    <tr><th><a title = "Taxon list" class="w3-bar-item w3-button" id="sideButton_activated" href="/taxa"> Taxa </a></th></tr>
                    {% else %}
                    <tr><th><a title = "Taxon list" class="w3-bar-item w3-button" id="sideButton" href="/taxa"> Taxa </a></th></tr>
                    {% endif %}

                    {% if '/taxa-search/' in request.path %}
                    <tr><th><a title = "Advanced taxon search" class="w3-bar-item w3-button" id="sideButton_activated" href="/taxa-search"> Taxon search </a></th></tr>
                    {% else %}
                    <tr><th><a title = "Advanced taxon search" class="w3-bar-item w3-button" id="sideButton" href="/taxa-search"> Taxon search </a></th></tr>
                    {% endif %}
                
                    {% if '/references/' in request.path or '/reference-details/' in request.path or 'add-references/' in request.path or request.path == '/doi-autofill/' or request.path == '/bibtex-autofill/' %}
                    <tr><th><a title = "Reference list" class="w3-bar-item w3-button" id="sideButton_activated" href="/references"> References </a></th></tr>
                    {% else %}
                    <tr><th><a title = "Reference list" class="w3-bar-item w3-button" id="sideButton" href="/references"> References </a></th></tr>
                    {% endif %}

                    {% if request.path == '/references-search/' %}
                    <tr><th><a title = "Advanced reference search" class="w3-bar-item w3-button" id="sideButton_activated" href="/references-search"> Reference search </a></th></tr>
                    {% else %}
                    <tr><th><a title = "Advanced reference search" class="w3-bar-item w3-button" id="sideButton" href="/references-search"> Reference search </a></th></tr>
                    {% endif %}

                    {% if request.path == '/experts/' or request.path == '/add-expert/' %}
                    <tr><th><a title = "Expert list" class="w3-bar-item w3-button" id="sideButton_activated" href="/experts"> Experts </a></th></tr>
                    {% else %}
                    <tr><th><a title = "Expert list" class="w3-bar-item w3-button" id="sideButton" href="/experts"> Experts </a></th></tr>
                    {% endif %}

                    {% if request.path == '/authors/' or request.path == '/add-author/' %}
                    <tr><th><a title = "Author list" class="w3-bar-item w3-button" id="sideButton_activated" href="/authors"> Authors </a></th></tr>
                    {% else %}
                    <tr><th><a title = "Author list" class="w3-bar-item w3-button" id="sideButton" href="/authors"> Authors </a></th></tr>
                    {% endif %}
                    
                    <tr><th>
                        <div class="div-line"><hr></div>
                    </th></tr>

                    <!-- Edit button -->
                    <tr><th>{% with test=user.groups.all|length %}
                        {% if test > 0 %}
                            {% if 'hierarchy' in request.path %}
                            <a title = "Edit this taxon" class="w3-bar-item w3-button" id="sideButton" href="{% url 'front:add-taxon' taxonomic_unit.taxon_id %}"> Edit taxon </a>
                            {% elif '/reference-details/' in request.path %}
                            <a title = "Edit this reference" class="w3-bar-item w3-button" id="sideButton" href="{% url 'front:add-references' reference.id %}"> Edit reference </a>
                            {% elif '/author-details/' in request.path %}
                            <a title = "Edit this author" class="w3-bar-item w3-button" id="sideButton" href="{% url 'front:add-author' author.taxon_author_id %}"> Edit author </a>
                            {% elif '/expert-details/' in request.path %}
                            <a title = "Edit this expert" class="w3-bar-item w3-button" id="sideButton" href="{% url 'front:add-expert' expert.id %}"> Edit expert </a>
                            {% else %}
                            <a class="w3-bar-item w3-button" id="sideButton_notAvailable" href="/"> Edit </a>                 
                            {% endif %}
                        {% else %}
                            <a class="w3-bar-item w3-button" id="sideButton_notAvailable" href="/"> Edit </a>
                        {% endif %}
                        {% endwith %}
                    </th></tr>

                    <!-- Cancel button -->
                    <tr><th>{% with test=user.groups.all|length %}
                        {% if test > 0 %}
                            {% if '/add-taxon/' in request.path or '/add_junior_synonym/' in request.path %}
                                {% if title == 'Edit' %}
                                <!-- href="{% url 'front:hierarchy' pk causes javascript bugs on staging server -->
                                <a title = "Cancel editing this taxon" class="w3-bar-item w3-button" id="sideButton" href="{{request.META.HTTP_REFERER|escape}}"> Cancel </a>
                                {% else %}
                                <a title = "Cancel adding this taxon" class="w3-bar-item w3-button" id="sideButton" href="/taxa/"> Cancel </a>
                                {% endif %}
                            {% elif 'add-references/' in request.path or request.path == '/doi-autofill/' or request.path == '/bibtex-autofill/' %}
                                {% if title == 'Edit' %}
                                <a title = "Cancel editing this reference" class="w3-bar-item w3-button" id="sideButton" href="{{request.META.HTTP_REFERER|escape}}"> Cancel </a>
                                {% else %}
                                <a title = "Cancel adding this reference" class="w3-bar-item w3-button" id="sideButton" href="/references/"> Cancel </a>
                                {% endif %}
                            {% elif '/add-expert/' in request.path %}
                            <a title = "Cancel adding this expert" class="w3-bar-item w3-button" id="sideButton" href="/experts/"> Cancel </a>
                            {% elif '/add-author/' in request.path %}
                            <a title = "Cancel adding this author" class="w3-bar-item w3-button" id="sideButton" href="/authors/"> Cancel </a>
                            {% else %}
                            <a class="w3-bar-item w3-button" id="sideButton_notAvailable" href="/"> Cancel </a>                 
                            {% endif %}
                        {% else %}
                            <a class="w3-bar-item w3-button" id="sideButton_notAvailable" href="/"> Cancel </a>
                        {% endif %}
                        {% endwith %}
                    </th></tr>

                    <!-- Save button -->
                    <tr><th>{% with test=user.groups.all|length %}
                        {% if test > 0 %}
                            {% if '/add-expert/' in request.path %}
                            <button title = "Save this expert" type="submit" form="parent-form" class="w3-bar-item w3-button" id="sideButton"> Save </button>
                            {% elif '/add-author/' in request.path %}
                            <button title = "Save this author" type="submit" form="parent-form" class="w3-bar-item w3-button" id="sideButton"> Save </button>
                            {% elif '/add-taxon/' in request.path%}
                            <button title = "Save this taxon" type="submit" form="parent-form" class="w3-bar-item w3-button" id="sideButton"> Save </button>
                            {% elif '/add_junior_synonym/' in request.path%}
                            <button title = "Save this junior synonym" type="submit" form="parent-form" class="w3-bar-item w3-button" id="sideButton"> Save </button>
                            {% elif 'add-references/' in request.path or request.path == '/doi-autofill/' or request.path == '/bibtex-autofill/' %}
                            <button title = "Save this reference" type="submit" name="submit" value="Submit" form="reference-form" class="w3-bar-item w3-button" id="sideButton"> Save </button>
                            {% else %}
                            <a class="w3-bar-item w3-button" id="sideButton_notAvailable" href="/"> Save </a>                 
                            {% endif %}
                        {% else %}
                            <a class="w3-bar-item w3-button" id="sideButton_notAvailable" href="/"> Save </a>
                        {% endif %}
                        {% endwith %}
                    </th></tr>

                    <!-- Add button -->
                    <tr><th>{% with test=user.groups.all|length %}
                        {% if test > 0 %}
                            {% if 'hierarchy' in request.path or '/taxa/' in request.path %}
                            <a title = "Add a new taxon to the database" class="w3-bar-item w3-button" id="sideButton" href="/add-taxon"> Add taxon </a>
                            {% elif request.path == '/references/' or '/reference-details/' in request.path %}
                            <a title = "Add a new reference to the database" class="w3-bar-item w3-button" id="sideButton" href="/add-references"> Add reference </a>
                            {% elif request.path == '/experts/' %}
                            <a title = "Add a new expert to the database" class="w3-bar-item w3-button" id="sideButton" href="/add-expert"> Add expert </a>
                            {% elif request.path == '/authors/' %}
                            <a title = "Add a new author to the database" class="w3-bar-item w3-button" id="sideButton" href="/add-author"> Add author </a>
                            {% else %}
                            <div class="w3-bar-item w3-button" id="sideButton_notAvailable"> Add </div>                            
                            {% endif %}
                        {% else %}
                            <div class="w3-bar-item w3-button" id="sideButton_notAvailable"> Add </div> 
                        {% endif %}
                        {% endwith %}
                    </th></tr>

                    <!-- Admin button -->
                    {% if user.is_superuser %}
                    <tr><th>
                        <a title = "Admin panel" class="w3-bar-item w3-button" id="sideButton" href="{% url 'admin:index' %}"> Admin </a>
                    </th></tr>
                    {% endif %}
                    
                    <tr><th>
                        <div class="div-line"><hr></div>
                    </th></tr>

                    {% if request.path == '/help/' %}
                    <tr><th><a title = "Help" class="w3-bar-item w3-button" id="sideButton_activated" href="/help"> Help </a></th></tr>
                    {% else %}
                    <tr><th><a title = "Help" class="w3-bar-item w3-button" id="sideButton" href="/help"> Help </a></th></tr>
                    {% endif %}

                    <tr><th> <div class="w3-hide-large image_text">
                        <img src="{% static "images/nowdatabase.jpg" %}" alt="now database" height="95" width="120" class="responsive">
                        <div id="image_credit">Picture © Noira Martiskainen</div>
                    </div></th></tr>
                </table>
            </div>
        </div>
        <div class="main-content w3-main">
            <div class="content w3-container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- Invisible overlay to close the side navigation -->
        <div class="close-nav w3-overlay w3-hide-large" onclick="w3_close()" id="myOverlay"></div>
        <footer class="w3-container w3-center w3-theme">
            <p>2022 - TaxonManager</p>
        </footer>
    </div>

    <!-- For opening and closing the sidebar -->
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
    </div>
</body>

</html>