{% extends "front/base.html" %}
{% block content %}

<body>

{% if hierarchies %} 
<h1>Hierarchy</h1>
{% for hierarchy in hierarchies %}

<li>{{ hierarchy.unit_name1 }}</li>

{% endfor %}

<h3>References</h3>
{% for ref in references %}
<table>
  <tr>
    <td><b>Authors:</b></td>
    <td>{{ ref.authors }}</td>
  </tr>
  <tr>
    <td><b>Title:</b></td>
    <td>{{ref.title }}</td>
  </tr>
</table>

{% endfor %}

{% else %}
There are no taxa in the database. 
{% endif %}
  
</body>

{% endblock %} 