{% extends "front/base.html" %}
{% block content %}
{% load static pyref_tags %}

<body>

<div class="container content-container">

<h1>Advanced Search</h1>



<div class="container">

    <form method="get">
        <div class="card card-body search-card">
            <div class="container-fluid">

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name1">{{ filter.form.unit_name1.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name1 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name2">{{ filter.form.unit_name2.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name3">{{ filter.form.unit_name3.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name3 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name4">{{ filter.form.unit_name4.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name4 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_kingdom">{{ filter.form.kingdom.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.kingdom }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_rank_name">{{ filter.form.rank_name.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.rank_name }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_expert_name">{{ filter.form.expert_name.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.expert_name }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_author_name">{{ filter.form.author_name.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.author_name }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_geo_location">{{ filter.form.geo_location.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.geo_location }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_synonyms">{{ filter.form.synonyms.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.synonyms }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

            </div>
        </div>
    </form>


    {% if page_obj %}
    <h2 class="text-center" style="font-size:x-large"><i>{{ nresults }} results</i></h2>
    <table style="width:60%; border-collapse: collapse">
          {% for taxon in page_obj %}
          <tr class="liststaxon">
            {% with test=user.groups.all|length %}
            {% if test > 0 %}
            <td width="3.0%"><a href="{% url 'front:add-taxon' taxon.pk %}"><img src="{% static 'refs/images/pencil.svg' %}" /></td>
            {% endif %}
            {% endwith %}

            <td width="40.0%" id="hover_link"><a href="{% url 'front:hierarchy' taxon.taxon_id %}">{{ taxon.unit_name1 }}</a></td>
            <td style="font-size:x-small" width="11.0%">{{ taxon.kingdom }}</td>
            <td style="font-size:x-small" width="11.0%">{{ taxon.rank.rank_name }}</td>
            <td style="font-size:x-small" width="60.0%">{{ taxon.n_usage }}</td>  

          </tr>
          {% endfor %}
  </table>

    <div class="pagination">
        {% if page_obj.has_previous %}
        <a class="page-first" href="?page=1{{ querystring }}">&laquo First</a>
        <a class="page-prev" href="?page={{ page_obj.previous_page_number}}{{ querystring }}">Previous</a>
        {% endif %}
  
        <span class="pagination-text">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  
        {% if page_obj.has_next %}
        <a class="page-next" href="?page={{ page_obj.next_page_number }}{{ querystring }}">Next</a>
        <a class="page-last" href="?page={{ page_obj.paginator.num_pages }}{{ querystring }}">Last &raquo</a>
        {% endif %}
        
        {% else %}
        <h2 class="text-center">No results.</h2>
        {% endif %}
      </div>


</div>
</body>

{% endblock %} 
