{% extends "front/base.html" %}
{% block content %}

<body>

<div class="container content-container">
<p><a href="/taxa">Taxa list</a> | <a href="/addName">Add taxon</a> | <a href="">Search</a></p>

<h1>Advanced Search</h1>



<div class="container">

    <form method="get">
        <div class="card card-body search-card">
            <div class="container-fluid">

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name1">{{ filter.form.unit_name1.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name1 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name2">{{ filter.form.unit_name2.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name3">{{ filter.form.unit_name3.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name3 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_name4">{{ filter.form.unit_name4.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.unit_name4 }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_kingdom">{{ filter.form.kingdom.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.kingdom }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label for="id_rank_name">{{ filter.form.rank_name.label }}:</label>
                    </div>
                    <div class="form-group col-md-8">
                        {{ filter.form.rank_name }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

            </div>
        </div>
    </form>


    {% if page_obj %}
    <h2 class="text-center">{{ nresults }} results</h2>
    
    {% for taxon in page_obj %}
    {% if taxon.complete_name and taxon.rank_id.rank_name %}
    <li><a href="{% url 'front:hierarchy' taxon.taxon_id %}">{{ taxon.complete_name }}</a> ({{ taxon.rank_id.rank_name }})</li>
    {% elif taxon.complete_name %}
    <li><a href="{% url 'front:hierarchy' taxon.taxon_id %}">{{ taxon.complete_name }}</a></li>
    {% elif taxon.rank_id.rank_name %}
    <li><a href="{% url 'front:hierarchy' taxon.taxon_id %}">{{ taxon.unit_name1 }}</a> ({{ taxon.rank_id.rank_name }})</li>
    {% else %}
    <li><a href="{% url 'front:hierarchy' taxon.taxon_id %}">{{ taxon.unit_name1 }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_previous %}
    <a href="?page=1{{ querystring }}">&laquo First</a>
    <a href="?page={{ taxa.previous_page_number}}{{ querystring }}">Previous</a>
    {% endif %}

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{{ querystring }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}{{ querystring }}">Last &raquo</a>
    {% endif %}
    
    {% else %}
    <h2 class="text-center">No results</h2>
    {% endif %}


</div>
</body>

{% endblock %} 